* {
    font-family: sans-serif;
}

.monthChange {
    font-weight: 900;
    cursor: pointer;
    background-color: rgb(219, 219, 204);
    padding: 0 1em 0 1em;
    margin: 0 10px 0 10px;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 100px);
    grid-auto-rows: minmax(1em, auto);
    grid-auto-columns: minmax(100px, auto);
    row-gap: 2px;
    column-gap: 2px;
    align-items: end;
}

.day-label {
    height: 20px;
    text-align: center;
    background-color: #9DA9A0;
}

.month-label {
    grid-column: 1 / -1;
    height: 2em;
    background-color: #C0CAAD;
    display: flex;
    align-items: center;
    justify-content: center;
    /*44633F*/
}

#variable-start-space {
    display: none;
    grid-column: 1 / 1;
}

/* days */
#variable-start-space ~ div {
    height: 100px;
    border: 1px solid black;
    background-color: initial;
}

.bubble {
    height: 60px;
    display: flex;
    z-index: 100;
    align-items: center;
    margin: 10px;
    border-radius: 30px;
    /*background-color: red; 
    grid-column: 4 / 6; 
    grid-row: 1;*/
}

.bubble * {
    padding-left: 10px;
    padding-right: 10px;
}
/*
#bubble-1 {*/
    /* Programatically update */
    /*display: flex;
    background-color: red; 
    grid-column: 4 / 6; 
    grid-row: 1;
}*/